<footer class="border-top footer text-muted">
    <div class="container text-center p-2">
        &copy;  BookStore @DateTime.Now.Year
        <custom-email my-email="raisulislam.cse.just@gmail.com"></custom-email>
    </div>

</footer>
